{% extends 'base.html' %}
{% block content %}





<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4 text-center">Sign in</h4>
      	 {% if messages %}
            <ul class="messages bold">
                <style>
                    .error{
                        color:red !important;
                    }
                    .success{
                        color:green !important;
                    }
                </style>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none !important;">
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
      <form id="signupform" action="" method="POST">
      	{% csrf_token %}

      	  <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp;  Sign in with Facebook</a>
      	  <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp;  Sign in with Google</a>
          <div class="form-group">
			 <input type="email" name="singin-email" placeholder="Email" type="text" class="form-control">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input name="signin-pass" type="password" placeholder="Password" type="password" class="form-control" >
          </div> <!-- form-group// -->
          
          <div class="form-group">
          	<a href="{% url 'password_reset' %}" class="float-right">Forgot password?</a> 
            <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Remember </div> </label>
          </div> <!-- form-group form-check .// -->
        
              <input type="submit" value="Sign In" class="btn btn-primary btn-block"> </input>
           <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div>


<p class="text-center mt-4">Don't have account? <a href="{% url 'app_user:signup' %}">Sign up</a></p>
   {% endblock %}